
// formerly results_panel
.query_component {
    height: 100%;
    // border: 1px solid purple;
    padding: 5px;
}

.qform{
    // border: 1px solid lime;
    padding: 5px;
}

.qview {
    // border: 1px solid lime;
    padding: 5px;
    max-width: 100%;
    vertical-align: top;
    
}
